/* Google Fonts Link */
.noto-serif {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Style */
.dark-1 {
  color: black;
}
.dark-3 {
  color: #8987A1;
}
.white-1 {
  color: white;
}
.color-1 {
  color: #E95A08;
}
.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.max-width {
  max-width: 1140px;
  margin: 0 auto;
}
.full-screen {
  max-width: 1440px;
  width: 100%;
}
button {
  border: none;
}
/* Navbar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart {
  display: flex;
}
.items > ul {
    display: flex;
    gap: 100px;
    list-style: none;
}
.link {
  text-decoration: none;
  color: #8987A1;
}
#cart-56 {
  color: black;
}

/* banner section style */
.banner {
  margin-top: 120px;
  display: flex;
}
.descriptions > h2 {
  font-size: 4rem;
  font-weight: 800;
}
.descriptions > p {
  font-size: 1.3rem;
}

/* Plants Section style */
.plants {
  text-align: center;
  margin-top: 120px;
}
.plants > h3 {
  font-size: 3.2rem;
  font-weight: 800;
}
.plants-description {
  font-size: 1.35rem;
  width: 820px;
  margin: 0 auto;
}
.cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card-p {
  font-size: 1.35rem;
  font-weight: 600;
  margin-top: 20px;
}
.card-h6 {
  font-size: 1.35rem;
  font-weight: 800;
  margin-top: 5px;
}
.btn-cart {
  width: 270px;
  height: 50px;
  background-color: #E95A08;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 20px;
}

/* Plants Lover Section Style */
.plants-lover {
  margin-top: 150px;
  gap: 80px;
}
.lover-content {
  margin-top: 0px;
  max-width: 45%;
}
.lover-desciption {
  list-style: disc;
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 25px;
  margin-left: 25px;
}
.shop-img-badge {
  width: 600px;
}
.badge {
  transform: scale(30%);
  position: relative;
  top: -1100px;
  left: -10px;
}
.lover-title {
  /* font-family: noto-serif; */
  font-size: 3.2rem;
  font-weight: 800;
}
.plants-lover {
  max-height: 700px;
  display: flex;
}

/* Join Section Style */
.join {
  background-image: url(assets/news-letter-bg.png);
  height: 530px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column ;
  /* max-height: 500px; */
}
.join-title {
  font-size: 3.1rem;
  font-weight: 800;
  color: white;
  font-family: "Noto Serif", serif;
  margin-bottom: 20px;
  text-align: center;
  margin: 0 auto;
}
#input {
  padding: 10px 270px 10px 15px;
  background-color: white;
}
.btn-subscribe {
  padding: 10px 65px;
  color: white;
  background-color: #E95A08;
}

/* Footer Style */
.footer {
  margin-top: 70px;
  margin-bottom: 30px;
  /* max-height: 250px; */
  gap: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
}
.foooter-description {
  margin-top: 20px;
  font-size: 1.35rem;
  width: 300px;
}
.footer-navs {
  gap: 80px;
  font-size: 1.25rem;
}
.footer-nav {
  margin-bottom: 25px;
  list-style-type: none;
}
.footer-icon {
  width: 36px;
  height: 36px;
}
.footer-icons {
  display: flex;
  gap: 40px;
}

/* challenges style section */
.img-container {
  display: flex;
}
.latest-deals-section {
  margin-bottom: 100px;
}
.latest-deals-title {
  font-size: 3.1rem;
  font-weight: 800;
  text-align: center;
}
.latest-deals-description {
  font-size: 1.35rem;
  margin-top: 10px;
  margin-bottom: 100px;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 60px;
  text-align: center;
  width: 800px;
}
.latest-deals-img {
  gap: 30px;
  display: flex;
  /* grid-template-columns: repeat(2, auto); */
}
.bloom {
  background-image: url(assets/deal-bloom.png);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 180px;
  width: 350px;
  justify-content: center;
}
.ana {
  margin-top: 30px;
  background-image: url(assets/deal-ana.png);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 180px;
  width: 350px;
  justify-content: center;

}
.zabo {
  background-image: url(assets/deal-zabo.png);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 400px;
  width: 720px;
  justify-content: center;
}
.shop-now {
  font-size: 1.3rem;
  font-weight: 700px;
  color: white;
  margin-top: 0px;
}
.shop-now-zabo {
  font-size: 1.8rem;
  font-weight: 700px;
  color: white;
  margin-top: 0px;
}
.img-title {
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}
.img-title-zabo {
  font-size: 3.2rem;
  font-weight: 800;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}

/* Mobile-Responsive Style */
.hide {
  display: none;
}
@media screen and (max-width:640px) {
  .smhide {
    display: none;
  }
  .smmax-width {
    max-width: 640px;
  }
  .nav {
    justify-content: space-between;
    margin: 20px;
    width: 100%;
    overflow: hidden;
  }
  .banner {
    flex-direction: column-reverse;
    margin: 30px 10px 30px 10px;
    gap: 30px;
    width: 100%;
    overflow: hidden;
  }
  .items > ul {
    margin: none;
  }
  .descriptions > p {
  margin: none;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .btn-cart {
    right: -200px;
  }
  .plants-lover {
    flex-direction: column;
    margin: 0 auto;
  }
  .lover-content {
    width: 90%;
  }
  .badge {
    display: none;
  }
  .shop-img-badge {
    margin: 0 auto;
  }
  .lover-content {
    margin: 0 auto;
    max-width: 90%;
  }
  .store-img {
    margin: 0 auto;
  }
  .latest-deals-img {
    flex-direction: column;
  }
  .bloom, .ana, .zabo {
    max-width: 430px;
    width: 530px;
    height: 150px;
    margin: 0 auto;
    margin-top: 30px;
    /* background-repeat:; */
  }
  .latest-deals-description {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .latest-deals-section {
    margin: 0 auto;
  }
  .img-title-zabo {
    font-size: 1.8rem;
  }
  .shop-now-zabo {
    font-size: 1.3rem;
  }
  .zabo {
    margin-top: 10px;
  }
  .join-title {
  font-size: 2.1rem;
  font-weight: 800;
  color: white;
  font-family: "Noto Serif", serif;
  margin-bottom: 20px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  }
  #input {
  padding: 10px 170px 10px 15px;
  background-color: white;
  }
  .btn-subscribe {
  padding: 10px 45px;
  color: white;
  background-color: #E95A08;
  }
  .footer {
    flex-direction: column;
  }
  .footer-navs {
    flex-direction: column;
    margin-left: 0;
  }
  .footer-navs-section {
    margin: 10px;
    margin-left: 0;
  }
  .footer {
  gap: 0px;
  margin-left: 0;
  }
.footer-navs {
  gap: 0px;
  font-size: 1.25rem;
  margin-left: 0;
  }
}